body {
background-color: rgb(34, 82, 34);
color: white;
text-align: center;
}
nav {
    background-color: black;
}
.title {
    font-size: 30px;
}
.descripcion {
font-size: 20px;
font-family:'Courier New', Courier, monospace;
}
.cards {
    background-color: rgba(0, 0, 0, 0.267);
    border-radius: 5px;
    display: flex;
    padding: auto;
    justify-content: space-evenly;
}
.card {
    background-color: rgba(255, 255, 255, 0.377);
    height: 520px;
    width: 400px;
    margin: 15px;
    border-radius: 15px;   
}
.card>img {
width: 100%;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}
